<div class="all-notification col-md-12">
	<div class="row">
		<header class="col-md-12">
			Thông báo của bạn <a href="#" style="pull-right"> Cài đặt thông báo</a>
		</header>
	</div> <!-- kết thúc header -->
	
	
	
	 
	<div class="row" style="border-bottom:1px solid #000;">
		<div class="col-md-12">
			
			 <div class="col-md-1"><a href="#"><img src="" class="img-responsive"></a></div>
			 <div class="col-md-10">
			 	<div>Thúy béo đã thêm 1 ảnh </div>
			 	<div><span class="glyphicon glyphicon-thumbs-up"></span> 9 phút trước </div>			 
			 </div>
			 <div class="col-md-1"><a href="#"><img src="" class="img-responsive"></a></div>			 
		</div>
	</div> <!-- body --> 
	
</div>