<div class="panel-group">
	<div class="panel">
		<div class="panel-heading">
			Xem lại đề xuất kết bạn
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<img class="img-responsive"/>				
					</div>
					<div class="col-md-10">
						<div class=""><a href="">Đinh Công Hùng{{user}}</a></div>
						<div class=""><span class="glyphicon glyphicon-euro"></span>Ngân hàng nhà nước việt nam</div>
						<div class="">Đinh Công Hùng{{user}}</div>
						
					</div>
					
				</div> 
			</div>
		</div> 
	</div> <!-- kết thúc pannel  -->
	<div class="panel">
		<div class="panel-heading">
			<div>trả lời {{request-adduser-number}} lời mời kết bạn</div>
			<div> <a href="#">Xem các lời mời đã gửi</a></div>			
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-2">
						<img class="img-responsive"/>				
					</div>
					<div class="col-md-10">
						<div class=""><a href="">Đinh Công Hùng{{user}}</a></div>
						<div class=""><span class="glyphicon glyphicon-euro"></span>Ngân hàng nhà nước việt nam</div>
						<div class="">Đinh Công Hùng{{user}}</div>
						
					</div>
					
				</div> 
			</div>
		</div> 
	</div> <!-- kết thúc pannel  -->	
</div>