
<div class="trangcanhan background-ddd" >
	<div class="col-md-8">
		
		
		<div class="row"> <!-- start nav -->
			<div class="row well timeline padding-0"> 
				<img src="img/timeline_.png" class="img-responsive">
				<ul class="nav nav-tabs" >
					<li style="padding-left:10px;" >
						<div class="img-logo well">
							<img src="img/boy-512.png" style="width:168px;">
						</div>
					</li>
					<li style="padding-left:180px;"><a>Dòng thời gian</a></li>
					<li><a>Giới thiệu</a></li>
					<li><a>Bạn Bè</a></li>
					<li><a>Ảnh</a></li>
					<li><a>Album</a></li> 
					<li class="dropdown"> 
						<a class="dropdown-toggle" data-toggle="dropdown">Xem thêm <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a>Video</a></li>
							<li><a>Thể thao</a></li>
							<li><a>Âm nhạc</a></li>
							<li><a>Phim</a></li>
							<li><a>Chương trình yêu thích</a></li>
							<li><a>Ưa thích</a></li> 
						</ul> 
					</li>
					
					
					
				</ul>
			</div>
		</div> <!-- end nav -->

		<div class="row"> <!-- start nav -->
			<div class="col-md-12">
				<div class="col-md-5"> <!-- start left bar -->
					<div class="row">
						<div class="panel-group">
							<div class="panel">  <!-- start 1 -->
								<div class="row">
									<a>
										<span class="close">
											&times;
										</span>
										<span class="glyphicon glyphicon-pencil"></span>
										Bạn đã học gì tại trường Việt-Hung
									</a>							
								</div> 
							</div> <!-- end 1 -->
							
							<div class="panel"> <!-- start2 -->
								<div class="row"> 
									<a>
										<span class="close">
											&times;
										</span>
										<span class="glyphicon glyphicon-globe"></span>
										Giới thiệu 
									</a>	
								</div>
								<div class="row "> 
									<div class="well separator">
										<a>
											<span class="glyphicon glyphicon-plus"></span> bạn muốn ghé thăm nơi nào
										</a>
									</div>
								</div>	
								<div class="row "> 
									<div class="well separator">
										<div> 
											<a>
												<span class="glyphicon glyphicon-home"></span> Sống tại Hà nội {{_liveIn}} 	
											</a> 
										</div>
										<a>
											<span class="glyphicon glyphicon-pushpin"></span> đến tại Tuyên Hóa {{_liveIn}} 	
										</a>
										
									</div>
								</div>	 
								ảnh
								<div class="row" style="border: 1px solid rgba(0,20,255,0.6);">
									<div class="col-md-12">
										
										 <img src="img/bangtin.png" style="width:49%">
										 <img src="img/business_user_facebook_online-128.png" style="width:49%">
										 
									</div>
									
									<div class="col-md-12"> 
										 
										 <img src="img/family.png" style="width:32%">
										 <img src="img/Jee-12-128.png" style="width:32%">
									 	 <img src="img/new_message.png" style="width:32%"> 
									</div>
									
									
									
								</div>	 
								
							</div> <!-- end 2 -->
							<div class="panel"> <!-- start 3 -->
								<div class="row">
									<a>
										<span class="glyphicon glyphicon-picture"></span> Ảnh 
									</a>
								</div>
								
							</div> <!-- end 3 -->
						<!-- 	<div class="panel"> start 4
								<div class="row">
									<a>
										<span class="glyphicon glyphicon-picture"></span> Ảnh 
									</a>
								</div>
								<div class="row">
									<div>
										<a>
											<img src="img/friendb.png"> Bạn Bè
										</a>									
									</div>
									<div>
										<div class="item">
											<a href="#"><img src="img/family.png" class="img-responsive"style="width:30%;"/></a>
											<div class="carousel-caption">
												<b>Thanh Xuân</b>
											</div>
										</div>
									</div>
									
								</div>
								
								
							</div> end 4 -->
								
													
						</div>
						
					</div>
				</div> <!-- end left bar -->
				
				<div class="col-md-7" style="padding-left: 50px;"><!-- start main bar -->
					<div class="row">
						<div ng-include="'_template/_body/taobaiviet.html'"></div>
					</div>
					<div class="row">
						<div ng-include="'_template/_body/noiDungDaViet.html'"></div>
					</div>
					
				</div><!-- start main bar -->
				
				
			</div>
		</div> <!-- end nav -->
	</div>
	
	
	
	<div class="col-md-2 col-md-offset-2">
		<div ng-include="'_template/_body/_friendList.html'"></div>
	</div>
</div>

 
 
 <div class="homeCtrl"> <!-- mở đầu phần popup --> 
					 <div class="modal-popup">
				 		<div class="modal" tabindex="-1">
				 			<div class="modal-dialog" style="width:500px;">
				 				<div class="row">
										<div class="panel-group">
											 <div class="panel panel-default">
											 	<div class="panel-heading">
											 		<div class="row">
											 		<div class="col-md-8"> 
										 				<span><a href="#"><span class="glyphicon glyphicon-pencil"></span> <label>Tạo bài viết</label> </a></span>							 			 
										 				<span><a href="#"><span class="glyphicon glyphicon-camera"></span> <label> album ảnh, video</label></a></span>							 				  							 		 
											 		</div><!-- kết thúc tạo bài viết, albumảnh video  -->
											 		<div class="col-md-4">
											 			<span><a href="#"><span class="glyphicon glyphicon-facetime-video"></span>  <label>video</label></a></span>
											 			<div class="close">&times;</div>
											 		</div><!-- kết thúc tạo video trực tiếp  -->
										 		</div>
											 		 
											 	</div> <!-- kết thúc panel-heading -->
											 	<div class="panel-body">
											 		 
											 			<div class="col-md-2">
											 				<a href="#"><img src="img/boy-512.png" class="images400"/></a>
											 			</div>
											 			<div class="col-md-10">
											 				<div class="div-taobaiviet" >
											 					 
											 					<textarea ng-model="trangthai" placeholder="trangthai" rows="5" style="width:100%;"> </textarea>
											 				</div> 
											 			</div>
											 		 
											 	</div> <!-- kết thúc panel-body -->
											 	<div class="panel-footer" style="height:50px;">
											 		<div class="col-md-6 col-md-offset-6 fix-sapdocao" style="height:30px;">
												 			<div class="row">
													 			<div class="col-md-8">
													 				<div class="dropdown padding7">
														 				<a href="#" class="dropdown-toggle padding10" data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Mọi Người <span class="caret"></span></a>
														 				
														 				<ul class="dropdown-menu"style="min-width:250px;left:-60px;">
														 					<li><span style="text-align:center;width:100%;padding-left:3px;"> ai là người sẽ nhìn thấy nội dung này?</span></li>
														 					<!-- <div style="width:100%;"> -->
														 						<div  ng-repeat="who in whoCanViewStatus">
														 							<li>
											 	
																 						<a ui-sref="_whoViewState({icon:'{{who._whoViewIcon}}',who:who._whoViewState})" style=" padding-left: 20px; " > <span class="{{who._whoViewIcon}}"> </span> <b>{{who._whoViewState}}</b> 
																 						</a>
															 						</li>
														 						</div>
															 					 
														 					<!-- </div> -->
														 				</ul> 
														 			</div>
													 			</div>
													 			<div class="col-md-4">						 		 
													 				<button type="button" ng-click="pustelm()" class="ui-button btn btn-primary pull-right"><span class="glyphicon glyphicon-send"></span> Đăng </button>
												 			</div>
											 			</div>
											 		</div>  
											 	</div><!-- kết thúc panel-footer -->
											 </div><!-- kết thúc panel -->
										</div><!-- kết thúc panel-group -->
									</div> <!-- nơi đăng trạng thái -->
				 			</div>
				 		</div>
			 	</div>
			 	 </div> <!--  kết thúc phần popup -->
	