					<div class="row">
						<div class="panel-group">
							 <div class="panel panel-default">
							 	<div class="panel-heading">
							 		<div class="col-md-7">
							 			<div class="col-md-5">
							 				<span><a href="#"><span class="glyphicon glyphicon-pencil"></span> <label>Tạo bài viết</label> </a></span>
							 				 
							 			</div>
							 			<div class="col-md-7">
							 				<span><a href="#"><span class="glyphicon glyphicon-camera"></span> <label> album ảnh, video</label></a></span>							 				  
							 			</div> 
							 		</div><!-- kết thúc tạo bài viết, albumảnh video  -->
							 		<div class="col-md-5">
							 			<span><a href="#"><span class="glyphicon glyphicon-facetime-video"></span>  <label>video</label></a></span>
							 			<div class="close">&times;</div>
							 		</div><!-- kết thúc tạo video trực tiếp  -->
							 		
							 	</div> <!-- kết thúc panel-heading -->
							 	<div class="panel-body">
							 		 
							 			<div class="col-md-1">
							 				<a href="#"><img src="img/boy-512.png" class="img-responsive"/></a>
							 			</div>
							 			<div class="col-md-11">
 							 				<div ng-click="openDialog()" class="div-taobaiviet" id="create"> 
							 					{{trangthai}} 
							 				</div> 
							 			</div>
							 		 
							 	</div> <!-- kết thúc panel-body -->
							 	<div class="panel-footer">
							 		<button type="button" class="ui-button btn  "><span class="glyphicon glyphicon-picture"></span> Ảnh Video</button>
							 		<button type="button" class="ui-button btn"> <span class="glyphicon glyphicon-heart"></span> Cảm xúc, Hoạt động</button>
							 		
							 	</div><!-- kết thúc panel-footer -->
							 </div><!-- kết thúc panel -->
						</div><!-- kết thúc panel-group -->
					</div> <!-- nơi đăng trạng thái -->
					