<div class="modal-popup">
 		<div class="modal" tabindex="-1">
 			<div class="modal-dialog">
 				<div class="row">
						<div class="panel-group">
							 <div class="panel panel-default">
							 	<div class="panel-heading">
							 		<div class="col-md-6">
							 			<div class="col-md-5">
							 				<span><a href="#"><span class="glyphicon glyphicon-pencil"></span> <label>Tạo bài viết</label> </a></span>
							 				 
							 			</div>
							 			<div class="col-md-7">
							 				<span><a href="#"><span class="glyphicon glyphicon-camera"></span> <label> album ảnh, video</label></a></span>							 				  
							 			</div> 
							 		</div><!-- kết thúc tạo bài viết, albumảnh video  -->
							 		<div class="col-md-6">
							 			<span><a href="#"><span class="glyphicon glyphicon-facetime-video"></span>  <label>video</label></a></span>
							 			<button class="close" data-dismiss="modal" >&times;</button>
							 		</div><!-- kết thúc tạo video trực tiếp  -->
							 		
							 	</div> <!-- kết thúc panel-heading -->
							 	<div class="panel-body">
							 		 
							 			<div class="col-md-1">
							 				<a href="#"><img src="img/boy-512.png" class="img-responsive"/></a>
							 			</div>
							 			<div class="col-md-11">
							 				<div class="div-taobaiviet" >
							 					 
							 					<textarea ng-model="trangthai" rows="5" style="width:100%;"> </textarea>
							 				</div> 
							 			</div>
							 		 
							 	</div> <!-- kết thúc panel-body -->
							 	<div class="panel-footer" style="height:50px;">
							 		<div class="col-md-6 col-md-offset-6 fix-sapdocao" style="height:30px;">
							 			<div class="col-md-8">
							 				<div class="dropdown">
								 				<a href="#" class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-globe"></span> Mọi Người <span class="caret"></span></a>
								 				
								 				<ul class="dropdown-menu">
								 					<li><span style="text-align:center"> ai là người sẽ nhìn thấy nội dung này?</span></li>
								 					<!-- <div style="width:100%;"> -->
									 					<li>
									 						<a href="#"> <span class="glyphicon glyphicon-globe"> </span> <b>Mọi Người</b>   
									 						 	<div class="luichu-7"> Mọi người trên hoặc ngoài Facebook</div>
									 						</a>
									 					</li>
									 					<li>
									 						<a href="#"> <span class="glyphicon glyphicon-road"> </span> <b>Bạn Bè</b>   
									 						 	<div class="luichu-7"> Bạn bè của bạn</div>
									 						</a>
									 					</li>
									 					<li>
									 						<a href="#"> <span class="glyphicon glyphicon-user"> </span> <b>Riêng tôi</b>   
									 						 	<div class="luichu-7"> chỉ mình tôi</div>
									 						</a>
									 					</li>
									 					
								 					<!-- </div> -->
								 				</ul> 
								 			</div>
							 			</div>
							 			<div class="col-md-4">						 		 
							 				<button type="button" ng-click="pustelm()" class="ui-button btn btn-primary pull-right"><span class="glyphicon glyphicon-send"></span> Đăng </button>
							 			</div>
							 		</div>  
							 	</div><!-- kết thúc panel-footer -->
							 </div><!-- kết thúc panel -->
						</div><!-- kết thúc panel-group -->
					</div> <!-- nơi đăng trạng thái -->
 			</div>
 		</div>
 	</div>
 	