@CHARSET "UTF-8";

.header > .col-lg-5{
	color:#fff !important;
}

.friendList img{
	 border-radius: 50%;
	 width:34px;
	 height:34px;
}
.leftMenu img{
	border-radius: 50%;
	 width:34px;
	 height:34px;
}
.header img{
	 border-radius: 5%;
	 width:20px;
	 height:20px;
	 margin-right:5px;
}
.separator{
	border-bottom:1px solid #eee;
	
}

.border-left{
	border-right:1px solid #eee;
}

.padding-0{
	padding:0px;
}
.img-logo{
	position:absolute;
	bottom:-49px;
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    	
}
.img-logo:hover{ 
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.9);	
}
.background-fff{
	background-color:#fff;
}
.background-ddd{
	background-color:#ddd;
}

.images400{
	width:100% !important;
}
.padding7{
	padding-top:7px;
}
.paddingLeft{
	padding-left:7px !important;
}
.img-comment{
	width:32px;
	height:32px;
}
.inputComment{
	width:70%;
}
